<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QrCodeGenerator.py | Carla Heywood</title>
    <link rel="icon" href="qrimg/favicon.svg" sizes="any" type="image/svg+xml">
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-green-50 min-h-screen">
    <header class="bg-white">
      <nav
        class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
        aria-label="Global"
      >
        <div class="flex lg:flex-1">
          <a href="/" class="-m-1.5 p-1.5">
            <h1 class="font-bold text-2xl text-green-700">
              QrCodeGenerator.py
            </h1>
          </a>
        </div>
        <div class="justify-end">
          <a href="https://github.com/CarlaHeywood" target="_blank"
            ><img
              src="https://avatars.githubusercontent.com/u/22629607?v=4"
              class="rounded-full h-8"
          /></a>
        </div>
      </nav>
    </header>
    <div class="flex flex-col items-center mt-8 justify-center">
      <div class="container mx-auto px-4 mb-4">
        <div
          class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
        >
          <div class="md:flex">
            <div class="md:flex-shrink-0">
              <img
                class="md:h-48 w-full object-cover md:w-48"
                src="{{ url_for('static', filename=qrcodename) }}"
                alt="qrcode"
              />
            </div>
            <div class="p-8">
              <div
                class="uppercase tracking-wide text-sm text-green-700 font-semibold"
              >
                QR Code Generator
              </div>
              <p class="mt-2 text-gray-500">
                Create a QR code for any link in seconds. Enter your link below
                to update your preview and download link.
              </p>
              <form action="{{ url_for('makeqrcode') }}" method="POST">
                <div class="mt-4">
                  <input
                    type="text"
                    class="form-input mt-1 block w-full border rounded p-2"
                    id="weblink"
                    name="weblink"
                    placeholder="https://example.com"
                  />
                </div>
                <div class="mt-4">
                  <button
                    type="submit"
                    class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-green-700 hover:bg-green-800"
                  >
                    Generate
                  </button>
                </div>
                <p class="mt-4 text-sm text-green-500">
                  Download:
                  <a
                    href="{{ url_for('static', filename=qrcodename) }}"
                    download="{{ url_for('static', filename=qrcodename) }}"
                    >{{ qrcodename }}</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
      <p class="text-center text-gray-500">
        © {{ current_year }} Carla Heywood
      </p>
    </div>
  </body>
</html>
